html {
	background: #f4f5ff;
}
body {
	font-size: 11pt;
	color: black;
	line-height: 1.2em;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
div#wrapper{
	width: 780px;
	margin: auto;
	border-color: #333333;
	border-width: 1px;
	border-style: groove;
	background-color: white;
	-moz-box-shadow: 0 0 10px 10px #888;
	-webkit-box-shadow: 0 0 10px 10px#888;
	box-shadow: 0 0 10px 10px #888;
}

div#content{
	padding: 20px 40px;
}
div#info {
	min-height: 175px;
}
h1{
line-height: 45px;
}

h2.left {
text-align: left;
margin: 10px 0;
}

h2, h3, div#map {
	text-align: center;
	margin-top: 5px;
}

h3.left{
	text-align: left;
	margin-bottom: 10px;
}

h2 {
	margin-bottom: 0;
}

h4 {
	margin-top: 0;
}

p.right {
	float: right;
	margin: 0;
	display: block;
}


input, textarea{
	margin: 1px 0 10px 0;
	padding: 5px;
	background-color: #e9e9e9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #d2d2d2;
}

input[type=text], input[type=email], input[type=tel], textarea{
	width: 686px; 
}
textarea{
	height: 60px;
	resize: vertical;
}

input[type=radio]{
	background-color: transparent;
	border: none;
	}

label{
	font-weight: bold;
}

input[type=submit] {
	padding: 5px 15px;
	font-size: 12pt;
}

input#comment{
height: 50px;
}

form p{
	margin: 0 0 20px 20px;
}

input[name="creditmethod"]{
	margin: 0 0 5px 15px;
	}

ol {
	margin-left: 0;
	margin-bottom: 5px;
	margin-right: 0;
	margin-top: 5px;
}

span#please{
	margin-left: -20px;
}

legend, legend h2 {
	margin: 20px;
	text-align: center;
}

em{
font-size: 12pt;
font-weight: normal;
}

.indent{
	margin-left: 35px;
}